<app-header></app-header>

<div class="forgot-page">
  <div class="forgot-card">
    <div class="forgot-form">
      <button class="back-btn" (click)="goBack()">←</button>

      <h1 class="title">Forgot password?</h1>
      <p class="subtitle">
        Please enter your email address or phone. You will receive a link to create new password
      </p>
      <p class="google-note">
 Note: if you signed up with Google, please use the "Log in with Google" button instead of resetting your password.
</p>

      <div class="field">
        <label>Email or Phone Number</label>
        <input type="text" [(ngModel)]="identifier" placeholder="Value" />
      </div>

      <p class="error" *ngIf="errorMsg()">{{ errorMsg() }}</p>
      <p class="sent-msg" *ngIf="sentMsg()">{{ sentMsg() }}</p>

      <button class="pill-btn" (click)="onSend()" [disabled]="loading()">Send</button>

      <p class="signup-hint">
        Don't have an account? <a routerLink="/register">Sign up</a>
      </p>
    </div>
  </div>
</div>