.gacha-page {
  position: relative;   // để làm reference cho header absolute bên trong
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: url('/Bg/Bg_gachapage2.jpg') center/cover no-repeat;
  background: url('/Bg/Bg_gachapage2.jpg') center/auto repeat;
  // background-image: url('/Bg/Bg_gachapage.jpg');
  // background-position: center top;    // Căn giữa theo chiều ngang, sát trên theo chiều dọc
  // background-size: auto 100%;         // Chiều rộng tự động, chiều cao full 100%
  // background-repeat: repeat-x;        // Chỉ lặp theo chiều ngang
}

.gacha-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.gacha-canvas {
  position: relative;
  width: min(100vw, calc(100vh * 1440 / 1024));
  height: min(100vh, calc(100vw * 1024 / 1440));
  max-width: 1440px;
  max-height: 1024px;

  container-type: size;
  container-name: gacha-canvas;
}