<div class="book" [class.book--open]="isOpen">
  <div class="book__right-page">
    <div
      class="book__page-inner"
      [style.backgroundImage]="'url(' + rightPageImage + ')'"
    ></div>
  </div>

  <div class="book__cover" (click)="toggle()">
    <div class="book__cover-face book__cover-face--front">
      <img [src]="coverImage" alt="Book cover" />
    </div>
    <div class="book__cover-face book__cover-face--back">
      <img [src]="coverBackImage" alt="Inside cover" />
    </div>
  </div>
</div>